.nav {
  background: linear-gradient(to right, #111, #222, #333, #020202, #f57f17);
  height: 64px;
  border: 0;
  width: 100%;
  box-shadow: $shadow-3;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  transition: $fx__time-medium;
  left:0;
}

.nav-fixed {
  position: fixed;
}

.nav__label {
  padding: 22px 32px;
  font-size: 32px;
}
.nav__label a {
	text-decoration: none;
	font-weight: $font-bold;
	color:$color-white;
	text-shadow: $shadow-3;
}
.nav__menu-icon {
	margin-left: auto;
	padding: 16px 32px;
	-webkit-transition: all 0.3s cubic-bezier(1, -0.01, 0.08, 1.35);
  -o-transition: all 0.3s cubic-bezier(1, -0.01, 0.08, 1.35);
  transition: $fx__time-small;	
}
.nav__menu-icon .nav__menu-icon__line {
  width: 32px;
  height: 5px;
  background-color: $color-white;
  display: block;
  margin: 4px auto;
  -webkit-transition: $fx__time-small;
  -o-transition: $fx__time-small;
  transition: $fx__time-small;	
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.3), 1px 5px 6px rgba(0, 0, 0, 0.35);
}

.nav__menu-icon:hover {
  cursor: pointer;
}
.nav__menu-icon--is-active .nav__menu-icon__line {
	box-shadow: none;
}
.nav__menu-icon--is-active .nav__menu-icon__line:nth-child(1),
.nav__menu-icon--is-active .nav__menu-icon__line:nth-child(3) {
  width: 25px;
}
.nav__menu-icon--is-active {transform: rotateY(180deg);}
    
.nav__menu-icon--is-active .nav__menu-icon__line:nth-child(1) {
  -webkit-transform: translateX(-13px) translateY(2px) rotate(-45deg);
  -ms-transform: translateX(-13px) translateY(2px) rotate(-45deg);
  -o-transform: translateX(-13px) translateY(2px) rotate(-45deg);
  transform: translateX(-13px) translateY(2px) rotate(-45deg);
}
.nav__menu-icon--is-active .nav__menu-icon__line:nth-child(3) {
	-webkit-transform: translateX(-13px) translateY(-2px) rotate(45deg);
  -ms-transform: translateX(-13px) translateY(-2px) rotate(45deg);
  -o-transform: translateX(-13px) translateY(-2px) rotate(45deg);
  transform: translateX(-13px) translateY(-2px) rotate(45deg);
}
.nav__sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: linear-gradient(to top, #111,#111,#111, #f57f17,#f57f17);
    overflow-x: hidden;
    transition: $fx__time-medium;
    padding-top: 60px;
}
.nav__sidenav--is-active {
  width:272px;
}
.content__disabled,
.navbar__disabled,
.footer__disabled {
  transition: $fx__time-medium;
}
.content__disabled {
  margin-left: -272px;
  margin-right: 272px;
}
.nav__sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 24px;
    display: block;
    transition: $fx__time-small;
    color:$color-white;
}

.nav__sidenav a:hover {
    color: $color-brand;
}
body.content__disabled-overlay {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(245, 127, 23, 0.3));
  transition: $fx__time-medium;
}
@media screen and (max-height: 450px) {
  .nav__sidenav {padding-top: 15px;}
  .nav__sidenav a {font-size: 18px;}
}
